In [1]:
import time
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import sys, getopt
import dblottery
from query_historical_data import historical_data
from census import census_data
from __future__ import division 

%matplotlib inline

In [2]:
db = dblottery.dblottery()
historical_data=historical_data()
rs=historical_data.get_all_data()
#red_matrix_frame = DataFrame(census_data.get_red_matrix(rs))
blue_matrix_frame = DataFrame(census_data.get_blue_matrix(rs))
map_frame = DataFrame(census_data.get_date_id_map(rs))

In [3]:
#random_sample = red_matrix_frame.take(np.random.permutation(len(red_matrix_frame))[:3])
#random_sample.T

In [4]:
#random_sample = blue_matrix_frame.take(np.random.permutation(len(blue_matrix_frame))[:3])
#random_sample.T

In [5]:
#random_sample = map_frame.take(np.random.permutation(len(map_frame))[:3])
#random_sample.T

#rs = get_one_year_data_('2018')
#rs = get_data_indentifier_range('2013001','2013160')

In [6]:
ts= str(time.time())
print (ts)

1534685909.102653

In [7]:
xaxise =[i for i in range (17)]

#sns.set_style('whitegrid')
#sns.pairplot(blue_matrix_frame[1:])
#sns.countplot(x='shot_made_flag', data=data)
sns.countplot(x=16, data=blue_matrix_frame[1:])

NameError: name 'sns' is not defined

In [8]:
df= blue_matrix_frame.loc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].cumsum()
df[17]=blue_matrix_frame[0]
df['index']=df.index
len(df)

2301

In [9]:
df.tail(5).index.values
df.tail(5)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,index
2296,141,133,141,129,143,143,151,124,156,138,153,159,143,149,141,153,2018091,2296
2297,141,133,141,129,143,143,151,124,156,138,153,159,143,149,141,154,2018092,2297
2298,141,133,141,129,143,143,152,124,156,138,153,159,143,149,141,154,2018093,2298
2299,141,133,141,129,144,143,152,124,156,138,153,159,143,149,141,154,2018094,2299
2300,141,133,141,129,144,143,152,124,157,138,153,159,143,149,141,154,2018095,2300

In [10]:
#red_matrix_frame = red_matrix_frame.append (census_data.get_sum_info(red_matrix_frame,False))
#df= blue_matrix_frame[[i for i in range (1,17)]].cumsum()

#blue_matrix_frame = blue_matrix_frame.append (census_data.get_sum_info(blue_matrix_frame,True))
#ts= str(time.time())
#print ts
#red_matrix_frame.to_csv(r"./result/redALL"+ts+".csv",index=False)
#blue_matrix_frame.to_csv(r"./result/blueALL"+ts+".csv",index=False)
#map_frame.to_csv(r"./result/mapALL"+ts+".csv",index=False)
#if debug==1:print census_data.get_sum_info(red_matrix_frame,False)
#if debug==1:print census_data.get_sum_info(blue_matrix_frame,True)
#print calc_per(sum(red_matrix_frame[1]),len(rs))
#print red_matrix_frame.tail(3)
#print blue_matrix_frame.tail(3)
#census_data.find_same_rate_scale_blue(blue_matrix_frame)
#print blue_matrix_frame
#print map_frame

#frame =DataFrame(rs)
#print  frame[0][:10]
#frame[0][:10].plot(kind='barh',rot=0)
#print frame.values[0]\
s1= df.loc[1]
s=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
#s1.sub(s)
print (s1.min(axis=0))

0

In [11]:
length= len(df)
result=[]
maxV=[]
for i in range (length):
    rs = df.loc[i,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].sub(s)
    if rs.min(axis=0)>0:
        s = df.loc[i]
        result.append(i)
        maxV.append(rs.max(axis=0))

In [12]:
resultLen=[]
length= len(result) 
for i in range (length): 
    if i==0: resultLen.append(result[0]) 
    else: resultLen.append(result[i]-result[i-1])

dfResult=DataFrame(result)
dfResult['max']=maxV 
dfResult['length']=resultLen 
dfResult

       0   max  length
0    104  15.0     104
1    153   5.0      49
2    244  13.0      91
3    318   9.0      74
4    353   5.0      35
5    391   5.0      38
6    474   9.0      83
7    518   6.0      44
8    569   8.0      51
9    605   5.0      36
10   641   6.0      36
11   682   5.0      41
12   727   7.0      45
13   775   7.0      48
14   823   9.0      48
15   854   6.0      31
16   898   5.0      44
17   953   7.0      55
18  1007   6.0      54
19  1058   7.0      51
20  1134  10.0      76
21  1192   8.0      58
22  1256   9.0      64
23  1295   5.0      39
24  1346   7.0      51
25  1409   9.0      63
26  1430   3.0      21
27  1481   7.0      51
28  1539   9.0      58
29  1583   6.0      44
30  1628   5.0      45
31  1704   9.0      76
32  1747   5.0      43
33  1788   4.0      41
34  1859   8.0      71
35  1903   8.0      44
36  1958   6.0      55
37  1990   5.0      32
38  2031   5.0      41
39  2091   8.0      60
40  2149   7.0      58
41  2179   5.0      30
42  2250   9.0      71

In [13]:
dfResult[(dfResult['max']>3) & (dfResult['max'] <15)].describe()

                 0        max     length
count    41.000000  41.000000  41.000000
mean   1208.658537   6.926829  51.829268
std     621.195243   1.902502  14.689967
min     153.000000   4.000000  30.000000
25%     682.000000   5.000000  41.000000
50%    1192.000000   7.000000  49.000000
75%    1747.000000   8.000000  58.000000
max    2250.000000  13.000000  91.000000

In [14]:
def SumCurrentCol (df):
    return df.loc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].cumsum()
def GetBlueSumFrame(df,startRow,endRow):
    return SumCurrentCol(df.iloc[startRow:endRow])
dfCurrent =GetBlueSumFrame(blue_matrix_frame,2251,2301)

In [15]:
def countNonShowNum(sumShows):
    length=len(sumShows)
    rs=length
    for i in range (length):
        if sumShows[i] > 0: rs=rs-1
    return rs

TempShow=[0,0,0,0,4,5,6,0,0,0,0,0,0,0,0,0]
print (countNonShowNum (TempShow))   

def countAvliableNum(sumShows,maxShowTime):
    length=len(sumShows)
    rs=length
    for i in range (length):
        if sumShows[i] >= maxShowTime: rs=rs-1
    return rs

print (countAvliableNum (TempShow,5))

13
14

In [17]:
df3 =GetBlueSumFrame(blue_matrix_frame,2251,2301)
df3

      1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
2251   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2252   0   0   1   0   0   0   1   0   0   0   0   0   0   0   0   0
2253   0   1   1   0   0   0   1   0   0   0   0   0   0   0   0   0
2254   0   2   1   0   0   0   1   0   0   0   0   0   0   0   0   0
2255   0   2   1   0   0   0   2   0   0   0   0   0   0   0   0   0
2256   0   2   1   1   0   0   2   0   0   0   0   0   0   0   0   0
2257   0   2   1   1   0   0   2   0   0   0   0   0   0   1   0   0
2258   0   2   1   1   0   1   2   0   0   0   0   0   0   1   0   0
2259   0   2   1   1   0   1   2   0   0   0   0   0   0   1   0   1
2260   0   2   1   1   0   1   3   0   0   0   0   0   0   1   0   1
2261   1   2   1   1   0   1   3   0   0   0   0   0   0   1   0   1
2262   1   2   1   1   0   1   3   0   0   0   0   0   1   1   0   1
2263   1   2   1   1   0   1   4   0   0   0   0   0   1   1   0   1
2264   1   2   1   1   0   1   4   0   0   0   1   0   1   1   0   1
2265   1   2   1   1   0   1   4   0   0   1   1   0   1   1   0   1
2266   1   2   1   1   0   1   5   0   0   1   1   0   1   1   0   1
2267   1   2   1   1   0   1   5   0   0   1   2   0   1   1   0   1
2268   1   2   1   1   0   1   5   0   0   1   2   1   1   1   0   1
2269   1   2   1   1   1   1   5   0   0   1   2   1   1   1   0   1
2270   2   2   1   1   1   1   5   0   0   1   2   1   1   1   0   1
2271   2   2   1   1   1   1   5   0   0   2   2   1   1   1   0   1
2272   2   2   1   1   2   1   5   0   0   2   2   1   1   1   0   1
2273   3   2   1   1   2   1   5   0   0   2   2   1   1   1   0   1
2274   3   2   1   1   2   1   5   0   0   2   2   2   1   1   0   1
2275   3   2   1   1   2   1   5   0   0   3   2   2   1   1   0   1
2276   3   2   2   1   2   1   5   0   0   3   2   2   1   1   0   1
2277   3   2   2   1   2   1   5   1   0   3   2   2   1   1   0   1
2278   3   2   2   1   2   1   5   1   0   4   2   2   1   1   0   1
2279   3   2   2   1   2   1   5   1   1   4   2   2   1   1   0   1
2280   3   2   2   1   2   1   5   1   1   4   3   2   1   1   0   1
2281   3   2   2   1   2   1   5   1   1   4   3   2   2   1   0   1
2282   3   2   2   1   2   1   5   1   1   5   3   2   2   1   0   1
2283   3   2   2   1   2   1   5   1   1   5   3   3   2   1   0   1
2284   3   2   2   1   2   1   5   1   1   5   3   3   3   1   0   1
2285   3   2   3   1   2   1   5   1   1   5   3   3   3   1   0   1
2286   3   2   4   1   2   1   5   1   1   5   3   3   3   1   0   1
2287   3   2   4   1   2   1   5   1   2   5   3   3   3   1   0   1
2288   3   2   5   1   2   1   5   1   2   5   3   3   3   1   0   1
2289   3   2   6   1   2   1   5   1   2   5   3   3   3   1   0   1
2290   3   2   6   1   2   2   5   1   2   5   3   3   3   1   0   1
2291   3   2   6   1   2   2   5   1   2   5   3   3   3   1   0   2
2292   3   2   7   1   2   2   5   1   2   5   3   3   3   1   0   2
2293   3   2   7   1   2   2   5   1   2   5   3   3   3   2   0   2
2294   3   2   7   1   2   2   5   1   2   5   3   3   3   3   0   2
2295   3   2   7   1   2   2   6   1   2   5   3   3   3   3   0   2
2296   3   2   7   1   2   2   7   1   2   5   3   3   3   3   0   2
2297   3   2   7   1   2   2   7   1   2   5   3   3   3   3   0   3
2298   3   2   7   1   2   2   8   1   2   5   3   3   3   3   0   3
2299   3   2   7   1   3   2   8   1   2   5   3   3   3   3   0   3
2300   3   2   7   1   3   2   8   1   3   5   3   3   3   3   0   3

In [18]:
def CalcProbability (df):
    MaxShow=15    # Max show time in Trust Zone
    TrustNum=105  # define Trust Zone scope
    sumShows=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]  # record summary of show times for each col
    #get summary of current col
    #SumCol= SumCurrentCol(Col)             
    # update record 
    initRate=(1/16)*(1/TrustNum)*100
    initTempR=[initRate for i in range(17)]
    rs=[initTempR]

    dfLength= len(df)
    row=df[0:1]
    #print dfLength
    #print row
    #remove table head
    for i in range (dfLength): 
        if i<1:
            continue
        else:
            row =df[i-1:i]
        #print "row:"
        #print row
        sumShows = row.values[0]       
        tempR=[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
        #print i
        #print sumShows
        for j in range(16):
            sumShow = sumShows[j]
            #print sumShow
            if sumShow > MaxShow:
                tempR[j]=0
           # get number of zero in summary record 
            NonShow = countNonShowNum(sumShows)
            #print NonShow
            if (TrustNum - i)> NonShow :
                # get number of col not reached Maxshow times
                avliableNum=countAvliableNum(sumShows,MaxShow)
                #print (1/avliableNum)*((MaxShow-sumShow)/MaxShow)*(1/(TrustNum - i)) #(1/(17-avliableNum))*
                tempR[j]=(1/avliableNum)*((MaxShow-sumShow)/MaxShow)*(1/(TrustNum - i))*100
                #print tempR[j]
            else:
                #print "NonShow"
                if sumShow ==0:
                    tempR[j]=(1/NonShow)*100
                else :
                    tempR[j]=0
            #print tempR[j]
        rs.append(tempR)
    print (len(rs))
    return rs

prodf = DataFrame(CalcProbability(df3))

50

In [19]:
prodf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524,0.059524
1,0.060096,0.060096,0.056090,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,0.060096,NaN
2,0.060680,0.060680,0.056634,0.060680,0.060680,0.060680,0.056634,0.060680,0.060680,0.060680,0.060680,0.060680,0.060680,0.060680,0.060680,0.060680,NaN
3,0.061275,0.057190,0.057190,0.061275,0.061275,0.061275,0.057190,0.061275,0.061275,0.061275,0.061275,0.061275,0.061275,0.061275,0.061275,0.061275,NaN
4,0.061881,0.053630,0.057756,0.061881,0.061881,0.061881,0.057756,0.061881,0.061881,0.061881,0.061881,0.061881,0.061881,0.061881,0.061881,0.061881,NaN
5,0.062500,0.054167,0.058333,0.062500,0.062500,0.062500,0.054167,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,NaN
6,0.063131,0.054714,0.058923,0.058923,0.063131,0.063131,0.054714,0.063131,0.063131,0.063131,0.063131,0.063131,0.063131,0.063131,0.063131,0.063131,NaN
7,0.063776,0.055272,0.059524,0.059524,0.063776,0.063776,0.055272,0.063776,0.063776,0.063776,0.063776,0.063776,0.063776,0.059524,0.063776,0.063776,NaN
8,0.064433,0.055842,0.060137,0.060137,0.064433,0.060137,0.055842,0.064433,0.064433,0.064433,0.064433,0.064433,0.064433,0.060137,0.064433,0.064433,NaN
9,0.065104,0.056424,0.060764,0.060764,0.065104,0.060764,0.056424,0.065104,0.065104,0.065104,0.065104,0.065104,0.065104,0.060764,0.065104,0.060764,NaN
10,0.065789,0.057018,0.061404,0.061404,0.065789,0.061404,0.052632,0.065789,0.065789,0.065789,0.065789,0.065789,0.065789,0.061404,0.065789,0.061404,NaN
11,0.062057,0.057624,0.062057,0.062057,0.066489,0.062057,0.053191,0.066489,0.066489,0.066489,0.066489,0.066489,0.066489,0.062057,0.066489,0.062057,NaN
12,0.062724,0.058244,0.062724,0.062724,0.067204,0.062724,0.053763,0.067204,0.067204,0.067204,0.067204,0.067204,0.062724,0.062724,0.067204,0.062724,NaN
13,0.063406,0.058877,0.063406,0.063406,0.067935,0.063406,0.049819,0.067935,0.067935,0.067935,0.067935,0.067935,0.063406,0.063406,0.067935,0.063406,NaN
14,0.064103,0.059524,0.064103,0.064103,0.068681,0.064103,0.050366,0.068681,0.068681,0.068681,0.064103,0.068681,0.064103,0.064103,0.068681,0.064103,NaN
15,0.064815,0.060185,0.064815,0.064815,0.069444,0.064815,0.050926,0.069444,0.069444,0.064815,0.064815,0.069444,0.064815,0.064815,0.069444,0.064815,NaN
16,0.065543,0.060861,0.065543,0.065543,0.070225,0.065543,0.046816,0.070225,0.070225,0.065543,0.065543,0.070225,0.065543,0.065543,0.070225,0.065543,NaN
17,0.066288,0.061553,0.066288,0.066288,0.071023,0.066288,0.047348,0.071023,0.071023,0.066288,0.061553,0.071023,0.066288,0.066288,0.071023,0.066288,NaN
18,0.067050,0.062261,0.067050,0.067050,0.071839,0.067050,0.047893,0.071839,0.071839,0.067050,0.062261,0.067050,0.067050,0.067050,0.071839,0.067050,NaN
19,0.067829,0.062984,0.067829,0.067829,0.067829,0.067829,0.048450,0.072674,0.072674,0.067829,0.062984,0.067829,0.067829,0.067829,0.072674,0.067829,NaN
20,0.063725,0.063725,0.068627,0.068627,0.068627,0.068627,0.049020,0.073529,0.073529,0.068627,0.063725,0.068627,0.068627,0.068627,0.073529,0.068627,NaN
21,0.064484,0.064484,0.069444,0.069444,0.069444,0.069444,0.049603,0.074405,0.074405,0.064484,0.064484,0.069444,0.069444,0.069444,0.074405,0.069444,NaN
22,0.065261,0.065261,0.070281,0.070281,0.065261,0.070281,0.050201,0.075301,0.075301,0.065261,0.065261,0.070281,0.070281,0.070281,0.075301,0.070281,NaN
23,0.060976,0.066057,0.071138,0.071138,0.066057,0.071138,0.050813,0.076220,0.076220,0.066057,0.066057,0.071138,0.071138,0.071138,0.076220,0.071138,NaN
24,0.061728,0.066872,0.072016,0.072016,0.066872,0.072016,0.051440,0.077160,0.077160,0.066872,0.066872,0.066872,0.072016,0.072016,0.077160,0.072016,NaN
25,0.062500,0.067708,0.072917,0.072917,0.067708,0.072917,0.052083,0.078125,0.078125,0.062500,0.067708,0.067708,0.072917,0.072917,0.078125,0.072917,NaN
26,0.063291,0.068565,0.068565,0.073840,0.068565,0.073840,0.052743,0.079114,0.079114,0.063291,0.068565,0.068565,0.073840,0.073840,0.079114,0.073840,NaN
27,0.064103,0.069444,0.069444,0.074786,0.069444,0.074786,0.053419,0.074786,0.080128,0.064103,0.069444,0.069444,0.074786,0.074786,0.080128,0.074786,NaN
28,0.064935,0.070346,0.070346,0.075758,0.070346,0.075758,0.054113,0.075758,0.081169,0.059524,0.070346,0.070346,0.075758,0.075758,0.081169,0.075758,NaN
29,0.065789,0.071272,0.071272,0.076754,0.071272,0.076754,0.054825,0.076754,0.076754,0.060307,0.071272,0.071272,0.076754,0.076754,0.082237,0.076754,NaN
30,0.066667,0.072222,0.072222,0.077778,0.072222,0.077778,0.055556,0.077778,0.077778,0.061111,0.066667,0.072222,0.077778,0.077778,0.083333,0.077778,NaN
31,0.067568,0.073198,0.073198,0.078829,0.073198,0.078829,0.056306,0.078829,0.078829,0.061937,0.067568,0.073198,0.073198,0.078829,0.084459,0.078829,NaN
32,0.068493,0.074201,0.074201,0.079909,0.074201,0.079909,0.057078,0.079909,0.079909,0.057078,0.068493,0.074201,0.074201,0.079909,0.085616,0.079909,NaN
33,0.069444,0.075231,0.075231,0.081019,0.075231,0.081019,0.057870,0.081019,0.081019,0.057870,0.069444,0.069444,0.075231,0.081019,0.086806,0.081019,NaN
34,0.070423,0.076291,0.076291,0.082160,0.076291,0.082160,0.058685,0.082160,0.082160,0.058685,0.070423,0.070423,0.070423,0.082160,0.088028,0.082160,NaN
35,0.071429,0.077381,0.071429,0.083333,0.077381,0.083333,0.059524,0.083333,0.083333,0.059524,0.071429,0.071429,0.071429,0.083333,0.089286,0.083333,NaN
36,0.072464,0.078502,0.066425,0.084541,0.078502,0.084541,0.060386,0.084541,0.084541,0.060386,0.072464,0.072464,0.072464,0.084541,0.090580,0.084541,NaN
37,0.073529,0.079657,0.067402,0.085784,0.079657,0.085784,0.061275,0.085784,0.079657,0.061275,0.073529,0.073529,0.073529,0.085784,0.091912,0.085784,NaN
38,0.074627,0.080846,0.062189,0.087065,0.080846,0.087065,0.062189,0.087065,0.080846,0.062189,0.074627,0.074627,0.074627,0.087065,0.093284,0.087065,NaN
39,0.075758,0.082071,0.056818,0.088384,0.082071,0.088384,0.063131,0.088384,0.082071,0.063131,0.075758,0.075758,0.075758,0.088384,0.094697,0.088384,NaN
40,0.076923,0.083333,0.057692,0.089744,0.083333,0.083333,0.064103,0.089744,0.083333,0.064103,0.076923,0.076923,0.076923,0.089744,0.096154,0.089744,NaN
41,0.078125,0.084635,0.058594,0.091146,0.084635,0.084635,0.065104,0.091146,0.084635,0.065104,0.078125,0.078125,0.078125,0.091146,0.097656,0.084635,NaN
42,0.079365,0.085979,0.052910,0.092593,0.085979,0.085979,0.066138,0.092593,0.085979,0.066138,0.079365,0.079365,0.079365,0.092593,0.099206,0.085979,NaN
43,0.080645,0.087366,0.053763,0.094086,0.087366,0.087366,0.067204,0.094086,0.087366,0.067204,0.080645,0.080645,0.080645,0.087366,0.100806,0.087366,NaN
44,0.081967,0.088798,0.054645,0.095628,0.088798,0.088798,0.068306,0.095628,0.088798,0.068306,0.081967,0.081967,0.081967,0.081967,0.102459,0.088798,NaN
45,0.083333,0.090278,0.055556,0.097222,0.090278,0.090278,0.062500,0.097222,0.090278,0.069444,0.083333,0.083333,0.083333,0.083333,0.104167,0.090278,NaN
46,0.084746,0.091808,0.056497,0.098870,0.091808,0.091808,0.056497,0.098870,0.091808,0.070621,0.084746,0.084746,0.084746,0.084746,0.105932,0.091808,NaN
47,0.086207,0.093391,0.057471,0.100575,0.093391,0.093391,0.057471,0.100575,0.093391,0.071839,0.086207,0.086207,0.086207,0.086207,0.107759,0.086207,NaN
48,0.087719,0.095029,0.058480,0.102339,0.095029,0.095029,0.051170,0.102339,0.095029,0.073099,0.087719,0.087719,0.087719,0.087719,0.109649,0.087719,NaN
49,0.089286,0.096726,0.059524,0.104167,0.089286,0.096726,0.052083,0.104167,0.096726,0.074405,0.089286,0.089286,0.089286,0.089286,0.111607,0.089286,NaN