In [103]:
import time
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys, getopt
import dblottery
from query_historical_data import historical_data
from census import census_data

%matplotlib inline

In [104]:
db = dblottery.dblottery()
historical_data=historical_data()
rs=historical_data.get_all_data()
red_matrix_frame = DataFrame(census_data.get_red_matrix(rs))
blue_matrix_frame = DataFrame(census_data.get_blue_matrix(rs))
map_frame = DataFrame(census_data.get_date_id_map(rs))

2003001
2003-02-23
10
2017069
2017-06-15
02

In [105]:
#random_sample = red_matrix_frame.take(np.random.permutation(len(red_matrix_frame))[:3])
#random_sample.T

In [106]:
#random_sample = blue_matrix_frame.take(np.random.permutation(len(blue_matrix_frame))[:3])
#random_sample.T

In [107]:
#random_sample = map_frame.take(np.random.permutation(len(map_frame))[:3])
#random_sample.T

#rs = get_one_year_data_('2008')
#rs = get_data_indentifier_range('2013001','2013160')

In [108]:
ts= str(time.time())
print ts

1497786512.58

In [109]:
xaxise =[i for i in range (17)]

#sns.set_style('whitegrid')
#sns.pairplot(blue_matrix_frame[1:])
#sns.countplot(x='shot_made_flag', data=data)
sns.countplot(x=16, data=blue_matrix_frame[1:])

NameError: name 'sns' is not defined

In [110]:
df= blue_matrix_frame.loc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].cumsum()
df[17]=blue_matrix_frame[0]
df['index']=df.index

In [111]:
df.tail(5).index.values
df.tail(5)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,index
2116,133,121,124,121,132,130,135,118,147,129,142,143,135,136,136,135,2017065,2116
2117,133,121,125,121,132,130,135,118,147,129,142,143,135,136,136,135,2017066,2117
2118,133,121,125,122,132,130,135,118,147,129,142,143,135,136,136,135,2017067,2118
2119,133,121,125,122,132,130,135,118,147,129,142,143,135,136,137,135,2017068,2119
2120,133,121,125,122,133,130,135,118,147,129,142,143,135,136,137,135,2017069,2120

In [112]:
#red_matrix_frame = red_matrix_frame.append (census_data.get_sum_info(red_matrix_frame,False))
#df= blue_matrix_frame[[i for i in range (1,17)]].cumsum()

#blue_matrix_frame = blue_matrix_frame.append (census_data.get_sum_info(blue_matrix_frame,True))
#ts= str(time.time())
#print ts
#red_matrix_frame.to_csv(r"./result/redALL"+ts+".csv",index=False)
#blue_matrix_frame.to_csv(r"./result/blueALL"+ts+".csv",index=False)
#map_frame.to_csv(r"./result/mapALL"+ts+".csv",index=False)
#if debug==1:print census_data.get_sum_info(red_matrix_frame,False)
#if debug==1:print census_data.get_sum_info(blue_matrix_frame,True)
#print calc_per(sum(red_matrix_frame[1]),len(rs))
#print red_matrix_frame.tail(3)
#print blue_matrix_frame.tail(3)
#census_data.find_same_rate_scale_blue(blue_matrix_frame)
#print blue_matrix_frame
#print map_frame

#frame =DataFrame(rs)
#print  frame[0][:10]
#frame[0][:10].plot(kind='barh',rot=0)
#print frame.values[0]\
s1= df.loc[1]
s=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
#s1.sub(s)
print s1.min(axis=0)

0

In [113]:
length= len(df)
result=[]
for i in range (length):
    rs = df.loc[i].sub(s)
    if rs.min(axis=0)>0:
        s = df.loc[i]
        result.append(i)
#result

In [114]:
resultLen=[]
length= len(result) 
for i in range (length): 
    if i==0: resultLen.append(result[0]) 
    else: resultLen.append(result[i]-result[i-1])

dfResult=DataFrame(result)
dfResult['Length']=resultLen 
dfResult
#dfResult['Length'].describe()

       0  Length
0    104     104
1    153      49
2    244      91
3    318      74
4    353      35
5    391      38
6    474      83
7    518      44
8    569      51
9    605      36
10   641      36
11   682      41
12   727      45
13   775      48
14   823      48
15   854      31
16   898      44
17   953      55
18  1007      54
19  1058      51
20  1134      76
21  1192      58
22  1256      64
23  1295      39
24  1346      51
25  1409      63
26  1430      21
27  1481      51
28  1539      58
29  1583      44
30  1628      45
31  1704      76
32  1747      43
33  1788      41
34  1859      71
35  1903      44
36  1958      55
37  1990      32
38  2031      41
39  2091      60

In [116]:
def SumCurrentCol (df):
    return df.loc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].cumsum()

df3= SumCurrentCol(blue_matrix_frame.iloc[2091:])
df3

      1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
2091   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
2092   0   0   0   2   0   0   0   0   0   0   0   0   0   0   0   0
2093   0   0   0   3   0   0   0   0   0   0   0   0   0   0   0   0
2094   0   0   0   3   0   0   0   1   0   0   0   0   0   0   0   0
2095   0   0   0   3   0   1   0   1   0   0   0   0   0   0   0   0
2096   0   0   0   3   1   1   0   1   0   0   0   0   0   0   0   0
2097   0   0   0   3   1   1   0   1   0   1   0   0   0   0   0   0
2098   0   1   0   3   1   1   0   1   0   1   0   0   0   0   0   0
2099   0   1   0   3   1   1   1   1   0   1   0   0   0   0   0   0
2100   0   1   0   3   1   1   1   1   0   2   0   0   0   0   0   0
2101   0   1   0   3   1   1   2   1   0   2   0   0   0   0   0   0
2102   0   1   0   3   1   1   2   1   0   2   1   0   0   0   0   0
2103   0   1   0   3   1   1   3   1   0   2   1   0   0   0   0   0
2104   0   1   0   3   1   2   3   1   0   2   1   0   0   0   0   0
2105   0   1   0   3   1   2   3   2   0   2   1   0   0   0   0   0
2106   0   1   0   3   2   2   3   2   0   2   1   0   0   0   0   0
2107   0   1   0   3   2   3   3   2   0   2   1   0   0   0   0   0
2108   0   1   0   3   2   3   3   2   0   2   1   0   0   0   0   1
2109   0   1   0   3   2   3   3   2   0   2   2   0   0   0   0   1
2110   0   1   0   3   2   3   3   2   1   2   2   0   0   0   0   1
2111   0   1   0   4   2   3   3   2   1   2   2   0   0   0   0   1
2112   0   1   0   4   2   3   3   2   1   2   3   0   0   0   0   1
2113   0   1   0   4   2   3   3   2   1   3   3   0   0   0   0   1
2114   0   1   0   5   2   3   3   2   1   3   3   0   0   0   0   1
2115   0   1   0   5   2   3   3   2   1   3   3   0   0   0   1   1
2116   0   1   0   5   2   3   4   2   1   3   3   0   0   0   1   1
2117   0   1   1   5   2   3   4   2   1   3   3   0   0   0   1   1
2118   0   1   1   6   2   3   4   2   1   3   3   0   0   0   1   1
2119   0   1   1   6   2   3   4   2   1   3   3   0   0   0   2   1
2120   0   1   1   6   3   3   4   2   1   3   3   0   0   0   2   1

In [101]:
def countNonShowNum(sumShow):
    length=len(sumShow)
    rs=length
    for i in range (length):
        if sumShow[i] > 0: rs=rs-1
    return rs

TempShow=[0,0,0,0,4,5,6,0,0,0,0,0,0,0,0,0]
print countNonShowNum (TempShow)   

def countAvliableNum(sumShow,maxShowTime):
    length=len(sumShow)
    rs=length
    for i in range (length):
        if sumShow[i] >= maxShowTime: rs=rs-1
    return rs

print countAvliableNum (TempShow,5)

13
14

In [102]:
def CalcPorsibility (RoundNum,Col):
    MaxShow=5    # Max show time in Trust Zone
    TrustNum=52  # define Trust Zone scope
    sumShow=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]  # record summary of show times for each col
    #get summary of current col
    SumCol= SumCurrentCol(Col)             
    # update record 
    sumShow[Col.index]=Sumcol       
    
    if sumShow > MaxShow:
        return 0
   # get number of zero in summary record 
    NonShow = countNonShowNum(sumShow)
    
    if (TrustNum - RoundNum)> NonShow :
        # get number of col not reached Maxshow times
        avliableNum=countAvliableNum(sumShow,MaxShow)
        return (1/(17-avliableNum))*((MaxShow-sumShow)/MaxShow)*(1/(TrustNum - RoundNum))
    else:
         return 1/NonShow